.new-card{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px auto;

    width: 40%;
    align-items: center;
    border: 1px solid grey;
    padding: 10px;
}

.new-card label{
    background-color:wheat;
    font-size: 18px;
    margin: 2px;
}

.new-card input{
    outline: 2px solid blueviolet;
}

.new-card > div{
display:flexbox;
flex-direction: row;
width: 100%;
justify-content: space-between;
}
